* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.grass-container {
    width: 100vw;
    height: 100vh;
    background-color: #151645;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Top center - Full logo */
.logo-top-center {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    height: 150px;
    z-index: 10;
}

/* Bottom right - Wordmark */
.logo-bottom-left {
    position: absolute;
    bottom: 25px;
    right: 25px;
    height: 36px;
    z-index: 10;
}

/* Bottom left - Instituto text */
.logo-bottom-right {
    position: absolute;
    bottom: 25px;
    left: 25px;
    height: 240px;
    z-index: 10;
}

.grass-svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
}
